@import 'tailwindcss';

@font-face {
    font-family: 'Averia Gruesa Libre';
    src: url('/fonts/AveriaGruesaLibre-Regular.ttf') format('truetype');
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #c4c4c4;
    font-family: 'Averia Gruesa Libre';
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

@theme {
    --color-red: #ff0000;
    --color-green: #00ff73;
    --color-blue: #00ffff;
    --color-silver: #c4c4c4;
    --color-gray: #202020;
    --color-medium-gray: #717171;
    --text-shadow-red: 0 0 8px rgba(255, 0, 0, 0.5);
    --text-shadow-green: 0 0 8px rgba(0, 255, 115, 0.5);
    --text-shadow-blue: 0 0 8px rgba(0, 255, 255, 0.5);
    --text-shadow-silver-sm: 0 0 4px rgba(196, 196, 196, 1);
    --text-shadow-silver-md: 0 0 6px rgba(196, 196, 196, 1);
    --text-shadow-silver-lg: 0 0 8px rgba(196, 196, 196, 1);
    --text-shadow-medium-gray-sm: 0 0 4px #717171;
    --horizontal-gradient-top: linear-gradient(
            to right,
            rgba(128, 128, 128, 0) 0%,
            rgba(128, 128, 128, 0.8) 50%,
            rgba(128, 128, 128, 0) 100%
    ) 1 0 0 0;
    --horizontal-gradient-bottom: linear-gradient(
            to right,
            rgba(128, 128, 128, 0) 0%,
            rgba(128, 128, 128, 0.8) 50%,
            rgba(128, 128, 128, 0) 100%
    ) 0 0 1 0;
    --vertical-scrollbar: linear-gradient(
            to bottom,
            rgba(128, 128, 128, 0) 0%,
            rgba(128, 128, 128, 0.8) 50%,
            rgba(128, 128, 128, 0) 100%
    );
    --orange-message-gradient: linear-gradient(
            to top left,
            rgba(255, 183, 77, 0.3) 0%,
            rgba(0, 0, 0, 0) 55%,
            rgba(196, 196, 196, 0) 65%
    );
    --blue-message-gradient: linear-gradient(
            to top right,
            rgba(79, 195, 247, 0.3) 0%,
            rgba(0, 0, 0, 0) 55%,
            rgba(196, 196, 196, 0) 65%
    );
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .col-center {
        @apply flex flex-col justify-center items-center;
    }

    .abs-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .general-title {
        @apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.35vw];
    }

    .perspective {
        perspective: 1000px;
    }

    .preserve-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .filter-drop-shadow {
        filter: var(--drop-shadow);
    }

    .bg-blue-message {
        background: var(--blue-message-gradient);
    }

    .bg-orange-message {
        background: var(--orange-message-gradient);
    }

    .border-gradient-top {
        border-image: var(--horizontal-gradient-top);
    }

    .border-gradient-bottom {
        border-image: var(--horizontal-gradient-bottom);
    }

    .scrollbar-custom {
        scrollbar-width: thin;
    }

    .drop-shadow {
        filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.5));
    }
}

@layer components {
    .opening-title {
        @apply text-shadow-lg/30 text-shadow-silver-lg text-6xl z-10;
    }

    .wisp {
        @apply w-20 h-36 flex items-center justify-center rounded-full blur-lg opacity-70 scale-0 z-10;
    }

    .navbar {
        @apply fixed z-9 opacity-0 w-full;

        div {
            @apply flex justify-between items-center gap-5 py-4 px-5;
        }
    }

    .hero-container {
        @apply relative w-screen h-dvh overflow-hidden opacity-0 bg-black z-5;

        .hero-content {
            @apply relative w-full h-full flex flex-col 2xl:pt-0 md:pt-32 pt-24;

            .main-titles {
                @apply absolute text-center top-1/5 left-1/11;

                .hero-title {
                    @apply 2xl:text-[5.5rem] text-silver md:text-[4.5rem] text-[2.3rem] 2xl:mb-0 mb-5;
                }

                .hero-subtitle {
                    @apply 2xl:text-[3rem] text-silver text-shadow-silver-lg md:text-[4.5rem] text-[2.3rem] 2xl:mb-0 mb-5;
                }
            }

            .tag-lines {
                @apply absolute top-5/9 left-1/6 -translate-x-5;

                .first-tag-line {
                    @apply text-red underline underline-offset-10 text-shadow-red relative right-30 text-[2rem];
                }

                .second-tag-line {
                    @apply text-green underline underline-offset-10 text-shadow-green text-[1.75rem];
                }

                .third-tag-line {
                    @apply text-blue underline underline-offset-8 text-shadow-blue relative left-35 text-[1.5rem];
                }
            }

            .long-arrow-container {
                @apply absolute flex right-30 bottom-0;

                .headshot {
                    @apply flex-shrink-0 mr-40;
                }

                .question-title {
                    @apply text-right absolute right-0 translate-x-15 top-25 rotate-10 text-medium-gray text-xl;
                }

                .long-arrow {
                    @apply absolute top-40 right-0 pointer-events-none;
                    /* spans the full question section, arrow curves from top to bottom */
                }

                .chat-button {
                    @apply flex text-4xl text-silver text-shadow-silver-lg absolute bottom-30 right-13 cursor-pointer justify-center items-center rounded-full size-15 bg-radial-[at_0%_25%] from-medium-gray to-gray to-90%;
                }
            }

            .chatbot-container {
                @apply absolute bottom-10 right-30 w-[30em] h-[40em] bg-gradient-to-b from-[#0A0A0A] to-[#303030] rounded-2xl grid grid-rows-[12%_76%_12%];

                .x-button {
                    @apply border-b border-medium-gray p-5 flex justify-end items-center rounded-t-2xl bg-gradient-to-r from-[#202020] to-black;
                    
                    a {
                        @apply cursor-pointer text-lg p-3 border border-medium-gray text-medium-gray rounded-full w-10 h-10 transition duration-300 ease-in-out hover:bg-gradient-to-br hover:from-black hover:from-40% hover:to-silver;
                    }
                }

                .messages {
                    @apply flex flex-col mx-[1.25em_0.25em_0_1em] overflow-x-hidden overflow-y-auto mt-2;

                    div {
                        @apply p-4 w-fit max-w-[80%] h-fit items-center text-white border border-[#333333] rounded-[20px];
                    }

                    .user {
                        @apply ml-auto mr-2;
                    }

                    .bot {
                        @apply mr-auto ml-2;
                    }
                }

                .chat-input-container {
                    @apply flex items-center border-t border-medium-gray;

                    .input-box {
                        @apply flex-grow-[5] h-[90%] resize-none overflow-auto border-none rounded-[20px] bg-gradient-to-tr from-[rgba(71,71,71,0.8)] via-transparent to-transparent mx-4 pl-4;
                    }

                    .chatbot-submit-button {
                        @apply w-6 text-[2.5em] bg-[#474747] text-white rounded-[20px] border-none active:invert;
                    }
                }
            }
        }
    }

    .pin-spacer {
        @apply bg-radial-[at_50%_50%] from-black to-gray relative;
    }

    .technical-skill-section {
        @apply min-h-dvh relative z-6;

        .slider-wrapper {
            @apply lg:h-dvh min-h-dvh md:min-h-fit w-full mt-0 md:mt-20 xl:mt-0;

            .skill-cards-container {
                @apply h-full flex md:flex-row flex-col items-center 2xl:gap-72 lg:gap-52 md:gap-24 gap-7 flex-nowrap;

                .card-container {
                    @apply relative flex-shrink-0 w-70 h-70 cursor-pointer;

                    .card-front {
                        @apply flex flex-col justify-center items-center;
                    }

                    .card-front, .card-back {
                        @apply absolute size-full p-0 backface-hidden rounded-lg;
                    }
                }
            }
        }
    }

    .education-section {
        @apply min-h-dvh bg-gradient-to-b from-black to-gray z-7;

        .education-title {
            @apply py-20 text-shadow-silver-lg;
        }

        .education-card-container {
            @apply grid grid-cols-3 mx-auto my-10 px-40 place-items-center;

            /* replace with reusable education-card class*/
            .first-card {
                @apply justify-self-start w-80 h-100 bg-white rounded-xl bg-gradient-to-br from-gray from-30% to-black;

                img {
                    @apply m-auto py-10;
                }

                h1 {
                    @apply font-bold text-2xl text-shadow-medium-gray-sm;
                }
            }

            .second-card {
                @apply justify-self-center w-100 h-120 bg-white rounded-2xl bg-gradient-to-br from-gray from-30% to-black;

                img {
                    @apply m-auto py-10;
                }

                h1 {
                    @apply font-bold text-3xl text-shadow-medium-gray-sm;
                }

                h2 {
                    @apply font-bold text-2xl text-shadow-medium-gray-sm;
                }
            }

            .third-card {
                @apply justify-self-end w-80 h-100 bg-white rounded-xl bg-gradient-to-br from-gray from-30% to-black;

                img {
                    @apply m-auto py-10;
                }

                h1 {
                    @apply font-bold text-2xl text-shadow-medium-gray-sm;
                }
            }

            .glare {
                @apply absolute w-50 h-50 opacity-0 pointer-events-none blur-xl rounded-full bg-radial-[at_50%_50%] from-white/30 to-transparent;
            }
        }
    }

    .footer-section {
        @apply relative flex flex-col h-[60vh] justify-end bg-linear-to-b from-gray to-black;

        .links-container {
            @apply grid grid-cols-3 text-xl items-center px-55;

            /* add hover underline, underline offset 8*/
            .about-website-link {
                @apply justify-self-start text-shadow-silver-lg;
            }

            .other-projects-link {
                @apply justify-self-center text-shadow-silver-lg text-silver;
            }

            .button-container {
                @apply justify-self-end -translate-y-3;

                .button-text {
                    @apply text-lg -translate-y-3 translate-x-2 rotate-10 text-medium-gray text-shadow-medium-gray-sm;
                }

                .to-top-button {
                    @apply flex text-4xl text-silver text-shadow-silver-lg cursor-pointer justify-center items-center rounded-full size-15 bg-radial-[at_0%_25%] from-medium-gray to-gray to-90%;
                }
            }
        }

        .appreciation {
            @apply m-10 text-xl;
        }

        .breaker {
            @apply absolute bottom-47 left-[10%] border-1 w-[80vw] ;
        }

        .outward-links {
            @apply m-10 gap-8 tracking-wider;

            h2 {
                @apply text-4xl text-white rounded-2xl p-3 bg-radial-[at_50%_50%] from-medium-gray via-gray to-black to-95%;
            }

            div {
                @apply text-3xl text-silver text-shadow-silver-md;
            }
        }
    }
}
